*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-main;
  font-size: $fs--main;
}

input,
button,
a {
  font-family: inherit;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background: url('./../images/bg-intro-mobile.png'), $clr--primary-red;
  padding-inline: 24px;
  padding-block: 70px;
}
