.intro {
  text-align: center;

  @media (min-width: $desktop) {
    // border: 2px solid white;
    flex-basis: 50%;
    text-align: left;
    max-width: 550px;
  }

  &__title {
    color: $clr--white;
    font-size: 27px;
    margin-bottom: 26px;

    @media (min-width: $desktop) {
      font-size: 47px;
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    color: $clr--white;
    font-weight: $fw--medium;
    line-height: 1.7;
  }
}
