// Layout
$desktop: 1024px;

// Colors
$clr--primary-red: hsl(0, 100%, 74%);
$clr--primary-green: hsl(154, 59%, 51%);

$clr--accent-blue: hsl(248, 32%, 49%);

$clr--neutral-grBlue: hsl(246, 25%, 77%);
$clr--neutral-dkBlue: hsl(249, 10%, 26%);

$clr--white: hsl(0, 0%, 100%);
$clr--black: hsl(0, 0%, 0%);

// Typography
$ff-main: 'Poppins', sans-serif;

$fw--regular: 400;
$fw--medium: 500;
$fw--semiBold: 600;
$fw--bold: 700;

$fs--main: 16px;
